:3010 {
	reverse_proxy /api/* localhost:4000
	reverse_proxy /socket.io/* localhost:4000
	reverse_proxy /apidoc/* localhost:4000
	reverse_proxy /auth/* localhost:4000
	reverse_proxy /oidc* localhost:4000
	handle_path /files/* {
		root * ./files
		file_server
	}
	reverse_proxy /* localhost:3000
}
